/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@500&display=swap');

html,
body {
    overflow: auto;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.header {
   margin-top: 0.5rem !important;
    margin-bottom: -0.6rem !important;
}
.headerpanel{
    max-width: 80vw;
    height: 7.6vh;
}
.headerpanel img{
    height:6vh;
    max-width: 20%;
}

.search {
    /* float: right; */
    display: inline-block;
    margin-left: 35px;
}

.search input {
    float: right;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid #CD9E66;
    backdrop-filter: blur(10px);
    border-radius: 40px;
    width: 20%;
    height: 6vh;
    font-weight: bold;
    font-family: 'Montserrat';
    text-transform: capitalize;
}

.search button {
    display: contents;
    float: right;
}

.search button img {
    position: absolute;
    right: 25px;
    width: 20px;
    margin-top: 0.5px;
    margin-bottom: 1px;
    margin-right: 5px;
}

.main {}

.main .navtabpanel {
    background: #FFFFFF;
 
    box-shadow: 0px 0px 20px 8px rgb(0 0 0 / 25%);
   
    border-radius: 40px;
    height: 100%;
    width: 100vw;
    max-width: 86vw;
    margin-top: 19px;
}

/* navbar css  */
.navtab {
    margin-left: -15px;
    margin-right: -15px;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    font-family: 'Montserrat';
}

li.nav-item {
    width: 20%;
}

.nav-item .nav-link {
    padding: 15px;
    background: #000000;
    color: #CD9E66
;
    margin-left: 5px;
    font-weight: 900;
    font-family: 'Montserrat';
}

.nav-item .nav-link.active {
    padding: 15px;
    background: linear-gradient(180deg, #FCEC90 0%, #CD9E66 100%);

    color: #000000;
    font-weight: 900;
    font-family: 'Montserrat';
}

.activeroom {
    background-color: #000000;
    height: 60vh;
    border-radius: 100px 20px 20px 100px;
    
}

.tab-pane .room {
    margin-left: 15px;
    width: 100%;
    max-width: 95vw;
}

.imgcontainer img {
    width: 50vw;
    border-radius: 20px;
    margin-left: -15px;
    height: 60vh;
}

.rotate {
    display: none;
}

.roomdesc{
    width: 100%;
    height: 35vh;
    margin-left: -4vw;
    overflow-y: auto;
}
.roomdesc h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: x-large;
    line-height: 37px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: rgb(205, 158, 102);
    letter-spacing: 4px;
}
.roomdesc p{
    /* font-family: 'Montserrat'; */
    font-size: medium;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-weight: 400;
    letter-spacing: 1px;
}
.btnwrapper{
    margin-top: -15vh;
    margin-left: 48%;
    width: 100%;
    max-width: 45vw;
}
.btnwrapper button{
    background: linear-gradient(180deg, #FCEC90 0%, #CD9E66 100%);
    border-radius: 20px;
    width: 100%;
    max-width: 34vw;
    text-align: center;
    height: 75px;
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: larger;
    line-height: 17px;
    display: flex;
    align-items: center;
    float: right;
    justify-content: center;
    border: none;
    text-align: -webkit-center;
    color: #000000;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btnwrapper button img{
    margin-right: -10px;
    width: 7%;
    margin-left: 22px;
}



.roomselector{
    /* background-color: #3B4859; */
    height: 18vh;
    border-radius: 20px;

}
.slick-list draggable{
    margin-left: -15px;
    margin-right: -15px;
}
.roomselector ul{
    width: -webkit-fill-available;
    list-style-type: none;
    display: inline-flex;
    margin-top: 5px;
    margin-left: -55px;

}
.roomselector ul li .imgtile{
    display: inline-block;
    width: -webkit-fill-available;
    height: 14vh;
}
.roomselector ul li{
    background: #3B4859;


    margin-left: 9px;
    width: -webkit-fill-available;
    padding: 0px;
    border-radius: 20px;
}
.roomselector ul li p{
    color: white;
    text-align: center;
    height: 5px;
    font-size: x-small;
    text-transform: uppercase;
    margin-top: -7px;
    margin-bottom: 13px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
}
.roomselector .slick-slide{
    margin-right: 60px;
    text-align: center;
    color: black;
    text-align: center;
    font-size: x-small;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;

}

.tile1 .imgtile{
    text-align: center;
    color: black;
    text-align: center;
    font-size: x-small;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
}
.tile1{
    /* margin-left: 2px; */
    border-radius: 20px;
    background: #000000;
    height: 100%;
    color: #CD9E66
;

}
.slick-current .tile1{
    background: linear-gradient(180deg, #FCEC90 0%, #CD9E66 100%) !important;

    color: #000000 !important;


}
.tile1 p{
    margin-top: 3px;
    margin-bottom: 1px;
}
.imgtile img{
    width: 100%;
    border-radius: 20px;
    height: 14vh;

}
.activetile{
    background: linear-gradient(180deg, #D4AF37 0%, #CD9E66
 100%) !important;

    color:white;
}
@media all and (orientation:portrait) {

    /* Styles for Portrait screen */
    /* }
    @media only screen and (max-width: 767.98px) { */
    .rotate {
        visibility: visible;
        display: block !important;
        background: #000000cc;
        box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(20px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        z-index: 999999;
        height: -webkit-fill-available;
        width: -webkit-fill-available;
        position: fixed;



    }

    .rotate .image {
        height: 100%;
    }
}
@media all and (orientation:portrait) {

    /* Styles for Portrait screen */
    /* }
    @media only screen and (max-width: 767.98px) { */
    .rotate {
        top: 0px;
        visibility: visible;
        display: block !important;
        background: #000000cc;
        box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(20px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        z-index: 999999;
        height: -webkit-fill-available;
        width: -webkit-fill-available;
        position: fixed;



    }

    .rotate .image {
        height: 100%;
    }
}
@media only screen and (max-width: 987px) {
    .search {
        /* float: right; */
        display: inline-block;
        margin-left: 10px;
    }
    .roomdesc {
        width: 100%;
        height: 35vh;
        margin-left: 0vw;
        overflow-y: auto;
    }
    .btnwrapper button {
        background: linear-gradient(180deg, #FCEC90 0%, #CD9E66 100%);
        border-radius: 20px;
        width: 100%;
        max-width: 32vw;
        text-align: center;
        height: 50px;
        font-family: 'Montserrat';
        font-weight: 900;
        font-size: small;
        line-height: 17px;
        display: flex;
        align-items: center;
        float: right;
        justify-content: center;
        border: none;
        text-align: -webkit-center;
        color: #000000;
        padding-left: 35px;
        letter-spacing: 0px;
        text-align: center;
        text-transform: uppercase;
    }
    .btnwrapper button img {
        margin-right: 13px;
        width: 10%;
        margin-left: 22px;
    }
    .roomdesc h3 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 900;
        font-size: larger;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: rgb(205, 158, 102);
        letter-spacing: 4px;
    }
    .roomdesc p {
        font-family: 'Montserrat';
        font-size: smaller;
        line-height: 19px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        font-weight: 400;
        letter-spacing: 1px;
    }
    .tile1 {
        /* margin-left: 2px; */
        border-radius: 12px;
        background: #000000;
        height: 100%;
        color: #CD9E66;
    }
    .imgtile img {
        width: 100%;
        border-radius: 10px;
        height: 14vh;
    }



}
